[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
bindsnet = "*"
pandas = "*"
numpy = "*"
sqlalchemy = "*"
matplotlib = "*"
plotly = "*"
cosmos-wfm = "*"
boto3 = "*"
pytorch-lightning = "*"
jupyterlab = "*"
ipywidgets = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
